---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
$dun: #d7c8b2ff;
$french-gray: #c9d0d6ff;
$battleship-gray: #959696ff;
$ebony: #5d655aff;
$cinereous: #8e8277ff;
$yellow: #fff700ff;
$red-cmyk: #ff0028ff;
$coral-pink: #ea7e72ff;
$golden-brown: #90622eff;
$chinese-violet: #795a70ff;
$jonquil: #ffca00ff;
$imperial-red: #ff0031ff;
$earth-yellow: #d0a55dff;
$safety-orange: #fe7b00ff;
$china-rose: #a45e70ff;
$dark-red: #8e0100ff;

$text-color: $dun;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    background-image: url("{{site.url}}/assets/img/indieshowcaseset.jpg");
    background-size: cover;
    background-position: center;
}

.mynewclass {
    background-color: $dun;
    color: $ebony;
    text-align: center;
}

.masthead {
    background: $dark-red;
}

.greedy-nav {
    background: transparent;
}

.initial-content {
    background: rgba(208, 165, 93, 0.8);
}

.page__footer {
    background: $dark-red;
    margin-top: 0;
}
