---
---

@import "minimal-mistakes/skins/{{site.minimal_mistakes_skin | default: 'default'}}";

$dun: #d7c8b2ff;
$french-gray: #c9d0d6ff;
$battleship-gray: #959696ff;
$ebony: #5d655aff;
$cinereous: #8e8277ff;
